---
import { SITE_TITLE, SITE_KEYWORDS } from '@/config';
import '../styles/global.css';

export interface Article { published: string; modified: string; sections: string[]; tags: string[]; }
export interface Props { title: string; description: string; image?: string; author: string; article?: Article; }

const { title, description, image = '/placeholder-social.jpg', author, article } = Astro.props;

const articleKeywords = article
  ? [...(article.tags || []), ...(article.sections || [])]
  : [];

const keywords = (articleKeywords.length > 0 ? articleKeywords : SITE_KEYWORDS)
  .sort((a, b) => a.localeCompare(b))
  .join(',');
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{title}</title>
<meta name="author" content={author}>
<meta name="description" content={description}>
<meta name="keywords" content={keywords}>
<meta name="generator" content={Astro.generator}>

<link rel="shortcut icon" href="/favicon.ico">
<link rel="sitemap" href="/sitemap-index.xml">
<link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href={new URL("rss.xml", Astro.site)}>

<meta name="geo.country" content="NL">
<meta name="geo.region" content="NL-GE">
<meta name="geo.a1" content="GE">
<meta name="geo.placename" content="Nijmegen">
<meta name="dc.language" content="en">

<meta property="og:url" content={Astro.url}>
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="og:image" content={new URL(image, Astro.url)}>
{article && (
	<meta property="og:type" content="article" />
	<meta property="article:published_time" content={article.published} />
	<meta property="article:modified_time" content={article.modified} />
)}
{article && article.sections && article.sections.map((section) => 
	<meta property="article:section" content={section}>
)}
{article && article.tags && article.tags.map((tag) => 
	<meta property="article:tag" content={tag}>
)}

<meta property="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@eNeRGy164">
