---
/**
 * ListItem
 * Archive list entry with published/modified metadata.
 */
import moment from 'moment';

import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const publishedDate = moment(post.data.date);
---

<li itemprop="itemListElement" itemscope itemtype="http://schema.org/BlogPosting" itemref="author">
  <meta itemprop="inLanguage" content="en-US">
  <meta itemprop="copyrightYear" content={publishedDate.year().toString()}>
  {post.data.updated && <meta itemprop="dateModified" content={post.data.updated.toISOString()}>}

  <div class="excerpt" itemprop="abstract">
    {post.data.excerpt}
  </div>

  <a itemprop="url" href={post.data.permalink} rel="bookmark" title={post.data.title}>
    <span class="archdate">
      <time datetime={post.data.date.toISOString()} itemprop="datePublished">
        {publishedDate.format('DD MMM yyyy')}
      </time>
    </span>
    <span itemprop="name headline">{post.data.title}</span>
  </a>
</li>
