---
import PostFooter from "@/components/PostFooter.astro";
import { urlifyToken } from "@/js/util";
import moment from "moment";
import path from "path";
import { getImageMetadata } from "@/utils/imageCache";

import type { CollectionEntry } from 'astro:content';

interface Props {
  page: CollectionEntry<'posts'>;
  articlePreview?: boolean;
  showTags?: boolean;
  inList?: boolean;
  previousPost?: CollectionEntry<'posts'> | null;
  nextPost?: CollectionEntry<'posts'> | null;
}

const {
  page,
  articlePreview = false,
  showTags = true,
  inList = false,
  previousPost,
  nextPost,
} = Astro.props;
const { title, author, date, permalink, excerpt, tags, image } = page.data;

const content = page.rendered.html;

const hasMoreTag = content.includes("<!--more-->");
const showPreview = articlePreview && hasMoreTag;

const sortedTags = Array.from(new Set(tags as string[])).sort((a, b) =>
  a.localeCompare(b),
);

const publishedDate = moment(date);

const imagesDir = path.join(process.cwd(), "wp-content", "uploads");

let thumbnail = null;

if (image != undefined) {
  const filePath = path.join(
    imagesDir,
    image.replace("/wp-content/uploads/", ""),
  );
  const metadata = await getImageMetadata(filePath);

  thumbnail = {
    url: image,
    width: metadata.width.toString(),
    height: metadata.height.toString(),
  };
}
---

<div class="post-box">
  <article
    {...inList && {
      itemprop: "blogPost",
      itemscope: true,
      itemtype: "http://schema.org/BlogPosting",
      itemref: "author",
      itemid: permalink,
    }}
  >
    <link itemprop="mainEntityOfPage" href={permalink} />
    {
      thumbnail && (
        <span
          itemprop="image"
          itemscope
          itemtype="https://schema.org/ImageObject"
        >
          <link itemprop="url" href={thumbnail.url} />
          <meta itemprop="width" content={thumbnail.width} />
          <meta itemprop="height" content={thumbnail.height} />
        </span>
      )
    }
    <header class="post-header">
      <div class="meta">
        <time class="published" datetime={publishedDate.toISOString()} itemprop="datePublished"
          >{publishedDate.format("MMM D")}
          {
            publishedDate.year() < moment().year() &&
              publishedDate.format("yyyy")
          }</time
        >
        <span>/ {author}</span>
      </div>
      <h1>
        <a href={permalink} rel="bookmark" itemprop="url">
          <span itemprop="name headline">{title}</span>
        </a>
      </h1>
      {
        showTags && (
          <div class="tags" itemprop="keywords">
            {sortedTags.map((tag, idx) => (
              <>
                <a href={`/tag/${urlifyToken(tag)}/`} rel="tag">{tag}</a>{idx < tags.length - 1 ? ", " : null}
              </>
            ))}
          </div>
        )
      }
    </header>
    <div class="excerpt" itemprop="abstract">
      {excerpt}
    </div>
    <div class="more-link">
      <span
        itemprop="potentialAction"
        itemscope
        itemtype="https://schema.org/ReadAction"
      >
        <a href={permalink} itemprop="url"
          ><span itemprop="name">Full article…</span></a
        >
      </span>
    </div>
    {
      !showPreview && (
        <div class="entry" itemprop="articleBody text">
          <Fragment set:html={content} />
        </div>
      )
    }
    {
      showPreview && (
        <div class="entry">
          <div itemprop="abstract">
            <Fragment
              set:html={content.split("<!--more-->")[0]}
            />
          </div>
          <a href={permalink} class="more-link">
            read more…
          </a>
        </div>
      )
    }
    <PostFooter {...page.data} previousPost={previousPost} nextPost={nextPost} />
  </article>
</div>
