---
import PostFooter from "@/components/PostFooter.astro"
import { urlifyToken } from "@/js/util";
import moment from 'moment';

const { page, articlePreview = false, showTags = true } = Astro.props
const { title, author, date, permalink, excerpt, tags } = page.frontmatter
const hasMoreTag = page.compiledContent().includes('<!--more-->')
const showPreview = articlePreview && hasMoreTag

const sortedTags = Array.from(new Set(tags as string[]))
  .sort((a, b) => a.localeCompare(b));

const publishedDate = moment(date);
---

<div class="post-box">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting" itemref="author" itemid={permalink}>
    <link itemprop="mainEntityOfPage" href={permalink}>
    <span itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
      <link itemprop="url" href="https://static.hompus.nl/wp-content/uploads/2021/04/post-1908-thumbnail.jpg">
      <meta itemprop="width" content="960">
      <meta itemprop="height" content="540">
    </span>
    <header class="post-header">
      <div class="meta">
          <time class="published" datetime={date} itemprop="datePublished">{publishedDate.format('MMM D')} {publishedDate.year() < moment().year() && publishedDate.format('yyyy')}</time>
          <span>/ {author}</span>
      </div>
      <h1>
        <a href={permalink} rel="bookmark" itemprop="url">
          <span itemprop="name headline">{title}</span>
        </a>
      </h1>
      {showTags && (
        <div class="tags" itemprop="keywords">
        {sortedTags.map((tag, idx) =>
          <>
            <a href={`/tag/${urlifyToken(tag)}`} rel="tag">{tag}</a>{(idx < tags.length - 1) ? ', ' : null}
          </>
        )}
        </div>
      )}
    </header>
    
    <div class="entry">
      {!showPreview &&
        <div class="excerpt" itemprop="abstract">
          {excerpt}
        </div>
        <div itemprop="articleBody text">
          <Fragment set:html={page.compiledContent()}/>
        </div>
      }
      {showPreview &&
        <>
          <div itemprop="abstract">
            <Fragment set:html={page.compiledContent().split('<!--more-->')[0]} />
          </div>
          <div>
            <span itemprop="potentialAction" itemscope itemtype="https://schema.org/ReadAction">
              <a href={permalink} class="more-link" itemprop="url"><span itemprop="name">read more...</span></a>
            </span>
          </div>
        </>
      }
    </div>
    <PostFooter {...page.frontmatter} />
  </article>
</div>
