---
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import { sortedPosts } from "@/js/util";

export interface Props { title: string; description: string; author: string, classes?: string[]; mainEntry?: boolean; }

const allPosts = sortedPosts(await Astro.glob('../posts/*.md'))

const { title, description, author, classes = [], mainEntry = false } = Astro.props;
---

<!doctype html>
<html lang="en-us">
  <head>
    <BaseHead title={title} description={description} author={author} />
  </head>
  <body
    class:list={[...classes]} 
    itemscope
    itemtype="http://schema.org/WebPage"
    id="body"
    itemref={mainEntry ? undefined : 'pagetitle'}
  >
    <meta itemprop="inLanguage" content="en-US" />
    <link itemprop="url" href={Astro.url} />
    <div class="skip-content"><a href="#content">Skip to content</a></div>
    <div id="wrapper">
      <Header mainEntry={mainEntry} />
      <slot />
      <Sidebar />
      <Footer posts={allPosts} />
    </div>
  </body>
</html>
