---
import BaseHead from "@/components/BaseHead.astro"
import Header from "@/components/Header.astro"
import Footer from "@/components/Footer.astro"
import { sortedPosts } from '@/js/util.js'
const posts = sortedPosts(await Astro.glob('../posts/*.{md,mdx}'))
const {
	frontmatter: { title, description, date }
} = Astro.props
import Sidebar from "@/components/Sidebar.astro"
import WPArticleSummary from "@/components/WPArticleSummary.astro"
---

<html lang="en-US">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="post-template-default single single-post single-format-standard" itemprop="mainEntity" itemscope itemtype="http://schema.org/ItemPage" id="body">
		<meta itemprop="name" content={title} />
		<meta itemprop="lastReviewed" content={date} />
		<link itemprop="url" href="" />
		<div class="skip-content"><a href="#content">Skip to content</a></div>
		<div id="wrapper">
		<Header />
		<main id="content" itemprop="mainEntity" itemscope itemtype="http://schema.org/BlogPosting" itemref="publisher">
			<link itemprop="url" href="" />
			<WPArticleSummary page={Astro.props} />
		</main>
		<Sidebar />
		<Footer posts={[...posts]}/>
		</div>
	</body>
</html>
