---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Sidebar from "@/components/Sidebar.astro";
import WPArticleSummary from "@/components/WPArticleSummary.astro";
import RelatedPosts from "@/components/RelatedPosts.astro";

import type { CollectionEntry } from 'astro:content';

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { data } = post;

const pageDescription = data.excerpt.replaceAll(/[\r\n]{1,2}/g, " ").trim();
const currentCategories = data.categories ?? [];
---

<html lang="en-US">
  <head>
    <BaseHead
      title={data.title}
      description={pageDescription}
      author={data.author}
      image={data.image}
      article={{ published: data.date, updated: data.updated ?? data.date, sections: data.categories ?? [], tags: data.tags ?? [] }}
    />
  </head>
  <body itemscope itemtype="http://schema.org/ItemPage" id="body">
    <meta itemprop="inLanguage" content="en-US" />
    <link itemprop="url" href={Astro.url} />
    <meta itemprop="name" content={data.title} />
    <meta itemprop="lastReviewed" content={(data.updated ?? data.date).toISOString()} />
    <div class="skip-content"><a href="#content">Skip to content</a></div>
    <div id="wrapper">
      <Header currentCategories={currentCategories} />
      <main
        id="content"
        itemprop="mainEntity"
        itemscope
        itemtype="http://schema.org/BlogPosting"
        itemref="author"
        itemid={data.permalink}>
        <WPArticleSummary page={post} />
      </main>
      <RelatedPosts {post} />
      <Sidebar />
      <Footer />
    </div>
    <noscript><div><img referrerpolicy="no-referrer-when-downgrade" src="https://piwik.hompus.nl/matomo.php?idsite=1&amp;rec=1" style="border:0" alt="" /></div></noscript>
  </body>
</html>
