---
import BasePageLayout from './BasePageLayout.astro'
import ListItem from '@/components/ListItem.astro'
import { SITE_TITLE, SITE_AUTHOR } from '../config.ts'
import moment from 'moment'

import type { CollectionEntry } from 'astro:content';

interface Props { posts: CollectionEntry<'posts'>[]; year: string; month: string; }

const { posts, year, month } = Astro.props

const date = moment().set({'year': parseInt(year), 'month': (parseInt(month) - 1), 'date': 1});
const description = `Archive for ${date.format('MMMM[, ]yyyy')}`;
---

<BasePageLayout
  title={`${date.format('yyyy MMMM')} | ${SITE_TITLE}`} 
  description={description} 
  author={SITE_AUTHOR}
  classes={['archive']}
>
  <main id="content" itemprop="mainEntity" itemscope itemtype="http://schema.org/CollectionPage" itemref="author">
    <div class="post-box page-box">
      <header class="post-header">
        <div class="meta">
          <h1 id="pagetitle" itemprop="name">{description}</h1>
        </div>
      </header>
      <div>
        <div class="entries" itemscope itemtype="http://schema.org/ItemList" itemprop="mainEntity">
          <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
          <ul>
            {posts.map(p => 
              <ListItem post={p} />
            )}
          </ul>
        </div>
      </div>
    </div>
  </main>
</BasePageLayout>
