---
import BasePageLayout from './BasePageLayout.astro'
import ListItem from '@/components/ListItem.astro'
import { SITE_TITLE, SITE_AUTHOR } from '../config.ts'

import type { CollectionEntry } from 'astro:content';

interface Props { posts: CollectionEntry<'posts'>[]; year: string; }

const { posts, year } = Astro.props

const description = `Archive for ${year}`;
---

<BasePageLayout
  title={`${year} | ${SITE_TITLE}`} 
  description={description}
  author={SITE_AUTHOR}
  classes={['archive']}
>
  <main id="content" itemprop="mainEntity" itemscope itemtype="http://schema.org/CollectionPage" itemref="author">
    <div class="post-box page-box">
      <header class="post-header">
        <div class="meta">
          <h1 id="pagetitle" itemprop="name">{description}</h1>
        </div>
      </header>
      <div>
        <div class="entries" itemscope itemtype="http://schema.org/ItemList" itemprop="mainEntity">
          <meta itemprop="itemListOrder" content="http://schema.org/ItemListOrderDescending">
          <ul>
            {posts.map(p => 
              <ListItem post={p} />
            )}
          </ul>
        </div>
      </div>
    </div>
  </main>
</BasePageLayout>
