---
import BasePageLayout from "@/layouts/BasePageLayout.astro";
import WPArticleSummary from "@/components/WPArticleSummary.astro";
import PageNav from "@/components/PageNav.astro";
import { sortedPosts } from "@/js/util.js";
import { SITE_TITLE, SITE_DESCRIPTION, SITE_AUTHOR } from "@/config.ts";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = sortedPosts(await getCollection("posts"));

  return Array.from({ length: Math.ceil(posts.length / 5) }, (_, index) => index + 1)
    .filter((page) => page > 1)
    .map((page) => {
      return {
        params: { page },
        props: {
          posts: posts.slice((page - 1) * 5, page * 5),
        },
      };
    });
}

const { page } = Astro.params;
const { posts } = Astro.props;
---

<BasePageLayout
  title={`${SITE_TITLE} | Page ${page}`}
  description={SITE_DESCRIPTION}
  mainEntry={true}
  author={SITE_AUTHOR}
  classes={["list"]}
>
  <main
    id="content"
    itemprop="mainEntity"
    itemscope
    itemtype="http://schema.org/Blog"
    itemref="author"
  >
    <link itemprop="url" href="" />
    {
      posts
        .slice(0, 5)
        .map((post: any, _: Number) => (
          <WPArticleSummary page={post} articlePreview={true} inList={true} />
        ))
    }
  </main>
  <PageNav {posts} {page} />
</BasePageLayout>
